.search-bar{
    align-items: center;
}

img{
    height: 50px;
    width: 50px;
}

.card{
    width: 250px;
    justify-content: center;
    align-content: center;
    margin: auto, auto;
}
    
#current-weather{
    display: flex;
    justify-content: center;
}

.moderate{
    background-color: coral;
}

.severe{
    background-color: red;
}

.future-card{
    width: 175px;

}

.list-group-item:hover{
    background-color: royalblue;
    color: white;
}