.search-bar{
    align-items: center;
}

img{
    height: 50px;
    width: 50px;
}

.card{
    width: 350px;
    margin: auto, auto;
}
    
#current-weather{
    display: flex;
    justify-content: center;
}

.moderate{
    background-color: coral;
}

.severe{
    background-color: red;
}